* {
  margin: 0;
  padding: 0;
}



body {
  font-family: 'Poppins', sans-serif;
  background: rgb(16,4,37);
  background: linear-gradient(142deg, rgba(16,4,37,1) 0%, rgba(66,46,111,1) 100%);
}

.navbar {
  background-color: #471383;
  height: 60px;
  width: 78.9em;
  display: flex;
  color: whitesmoke;
}

.home {
  height: 30px;
  /* width: 70px; */
  color: rgb(255, 255, 255);
  margin-left: 350px;
  margin-top: 18px;
  font-size: large;
}

.home1 {
  height: 30px;
  /* width: 70px; */
  color: rgb(255, 255, 255);
  margin-left: 60px;
  margin-top: 18px;
  font-size: large;
}

.color {
  color: white;
  text-decoration: none;
}

.login{
  background-color: #EAE34A;
  height: 40px;
  width: 120px;
  margin-left: 100px;
  margin-top: 10px;
  border: none;
  font-weight:600;
  border-radius: 10px;
  color: #100425;
}